@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./assets/merry-safe-background-new-normal-celebration.jpg");
    background-size: 100%; /* Adjust percentage to zoom out */
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
